<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oakonell.ticstacktoe"
    android:versionCode="17"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="TicStackToe"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.oakonell.ticstacktoe.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oakonell.ticstacktoe.settings.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.oakonell.ticstacktoe.MainActivity" >
        </activity>
        <activity
            android:name="com.oakonell.utils.activity.GenericAboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.oakonell.ticstacktoe.settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakonell.ticstacktoe.settings.SettingsActivity" />
        </activity>
        <activity
            android:name="com.shamanland.facebook.likebutton.FacebookLikeActivity"
            android:label="@string/com_shamanland_facebook"
            android:theme="@style/Theme.Facebook.Like" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>